* {
  padding: 0;
  margin: 0;
}
.about-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-heading {
  width: 100%;
  font-family: Montserrat;
  color: var(--color-primary-2);
}

.about-container h3 {
  width: 100%;
  font-family: Montserrat 100;
  color: var(--color-primary-2);
  margin-bottom: 3rem;
}

.about-container p {
  font-family: Montserrat;
  color: var(--color-primary-3);
  width: 70%;
  line-height: 2rem;
}

.about-hr {
  margin: 10rem auto;
}

.about-heading {
  margin: 5rem 0;
  font-family: Montserrat;
  color: var(--color-primary-2);
  font-size: 3rem;
}
