* {
  margin: 0;
  padding: 0;
}

.cards-container {
  margin: 8rem 0;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 500px;
  width: 20rem;
}

.cards h3 {
  padding-bottom: 4rem;
  font-size: 1.5rem;
  color: var(--color-primary-2);
  font-family: Montserrat 100;
}
.cards-logo {
  padding-bottom: 2rem;
  font-size: 2.5rem;
  height: 60px;
  color: var(--color-primary-2);
}

.cards-list {
  height: 300px;
  line-height: 2rem;
  list-style: none;
  font-family: Montserrat;
  color: var(--color-primary-3);
  text-align: center;
  margin: auto;
}
.cards-list li {
  margin: 10px 0;
}
