.iframe-block {
  height: 700px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-logo {
  font-size: 2.5rem;
  height: 30px;
}

.caption-carousel {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: solid 1px rgb(83, 82, 82);
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  padding: 10px;
}

.hr-carousel {
  margin: 100px 0 !important;
  width: 30px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%5555' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%5555' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
