* {
  padding: 0;
  margin: 0;
}
.navbar-container {
  margin: 2rem 10rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50px;
}
.icon-menu-open {
  color: var(--color-primary-2);
  z-index: 20;
  position: fixed;
  font-size: 2rem;
}

.icon-menu-open:hover {
  color: var(--color-primary-3);
}

@media only screen and (max-width: 800px) {
  .icon-menu-open,
  .icon-menu-close {
    left: 425px;
  }
  .logo {
    margin-left: -5rem;
  }
}
.icon-menu-close {
  position: fixed;
  color: white;
  font-size: 2rem;
  z-index: 25;
  -webkit-animation: spin 2s;
  -moz-animation: spin 2s;
  animation: spin 2s;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.icon-menu-close:hover {
  color: var(--color-primary-1);
}

button {
  letter-spacing: 5px;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  background: none;
}

button:hover {
  color: var(--color-primary-2);
}

.nav-menu ul {
  letter-spacing: 5px;
  list-style: none;
  text-align: center;
}

.menu-close {
  display: none;
}

.menu-open {
  z-index: 10;
  padding: 15rem 0rem;
  margin: 0;
  opacity: 90%;
  line-height: 5rem;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: var(--color-primary-3);

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
